.projects {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 16rem;
  .design-title {
    text-wrap: nowrap;
    text-transform: uppercase;
    color: $white-color;
  }
  .design-link {
    display: flex;
    align-items: center;
    gap: 2rem;
    span {
      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: 5px;
      color: $white-color;
      text-transform: uppercase;
      text-wrap: nowrap;
    }
  }
  .web-design {
    width: 541px;
    height: 640px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../images/web-design.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    &:hover {
      background: linear-gradient(
          rgba(231, 129, 107, 0.8),
          rgba(231, 129, 107, 0.8)
        ),
        url("../../images/web-design.png");
    }
  }
  .secondary-design {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.4rem;
    .app-design {
      width: 541px;
      height: 308px;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../../images/app-design.png");
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;

      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      cursor: pointer;
      &:hover {
        background: linear-gradient(
            rgba(231, 129, 107, 0.8),
            rgba(231, 129, 107, 0.8)
          ),
          url("../../images/app-design.png");
      }
    }
    .graphic-design {
      width: 541px;
      height: 308px;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../../images/graph-design.png");
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      cursor: pointer;
      &:hover {
        background: linear-gradient(
            rgba(231, 129, 107, 0.8),
            rgba(231, 129, 107, 0.8)
          ),
          url("../../images/graph-design.png");
      }
    }
  }
}
.cards-wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 16rem;
  .card {
    width: 100%;
    max-width: 350px;
    height: 412px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    .card__img {
      width: 100%;
      max-width: 188px;
      height: auto;
    }
    .card__content {
      text-align: center;
      .card__title {
        margin-bottom: 3.2rem;
      }
    }
  }
}
.about-project {
  margin-bottom: 10rem;
  width: 100%;
  height: 292px;
  display: flex;
  align-items: center;
  gap: 30.9rem;
  padding: 7.2rem 9.5rem;
  background-color: $peach-color;
  border-radius: 1.5rem;
  background-image: url("../../images/contact-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  .about-project__context {
    max-width: 458px;
    width: 100%;
    .about-project__title {
      color: $white-color;
      margin-bottom: 1.6rem;
    }
    .about-project__text {
      color: $white-color;
    }
  }
}
