.footer {
  z-index: -1;
  background: $black-color;
  padding-top: 14.4rem;
  padding-bottom: 7.2rem;
  .footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
    .footer-menu__line{
      display: none;
    }
    .footer__navigation {
      display: flex;
      align-items: center;
      gap: 4.2rem;
      .footer__navigation__link {
        font-weight: 400;
        font-size: 1.4rem;
        letter-spacing: 2px;
        color: $white-color;
        text-transform: uppercase;
        &:hover {
          text-decoration-line: underline;
          text-decoration-color: $white-color;
        }
      }
    }
  }
  .footer__line {
    margin-bottom: 3.1rem;
    border: 1px solid $white-color;
    opacity: 0.1;
  }
  .footer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footer__text{
      color: $white-color;
    }
    .footer-social-media {
      display: flex;
      align-items: center;
      gap: 1.6rem;
      align-self: flex-end;
    }
  }
}
