.sitenav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3.2rem;
  padding-bottom: 7rem;
  .navigation {
    display: flex;
    align-items: center;
    gap: 4.2rem;
    .navigation__link {
      font-weight: 400;
      font-size: 1.4rem;
      letter-spacing: 2px;
      color: $dark-gary-color;
      text-transform: uppercase;
      &:hover {
        text-decoration-line: underline;
      }
    }
  }
  .header-menu {
    border: none;
    display: none;
  }
}
.hero {
  width: 100%;
  border-radius: 1.5rem;
  background: url("../../images/hero-bg-oval.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-color: $peach-color;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 14rem 2rem;
  overflow: hidden;
  margin-bottom: 16rem;
  .hero-content {
    max-width: 540px;
    width: 100%;
    .hero-content__title {
      font-weight: 500;
      color: $white-color;
      margin-bottom: 2rem;
    }
    .hero-content__text {
      width: 100%;
      max-width: 440px;
      color: $white-color;
      margin-bottom: 4rem;
    }
  }
  .hero-image {
    width: 400px;
    margin-bottom: -24rem;
  }
}
