// Primary colors
$peach-color:#E7816B;
$black-color:#1D1C1E;
$white-color:#FFFFFF;
//Secondary color
$light-peach-color:#FFAD9B;
$dark-gary-color:#333136;
$light-gray-color:#F1F3F5;

//Fonts
$main-font:"Jost", sans-serif;
